
/********** Base styles **********/
* {
  box-sizing: border-box;
}

body {
  padding: 10px;
	
}

section {
  padding: 10px;
  background-color: #618685;
}

#p1 {
  background-color: #618685;
  font-size: 30px;
}

#p2 {
  background-color: #618685;
  font-size: 30px;
}

#p3 {
  background-color: #618685;
  font-size: 30px;
}

/* Simple Responsive Framework. */

.box {
  border: 1px solid black;
  background-color: #618685;
  height: 180;
  font-family: Helvetica;
  color: white;
  position: relative;
}

.boxmargin {
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

